body {
  min-height: 100vh; /* ensure at least viewport tall */
  background: linear-gradient(to bottom, #000099 0%, #ff3399 100%);
  background-repeat: no-repeat; /* prevent tiling */
  background-size: 100% 100%; /* stretch the gradient to the body's full width & height */
}
h1 {
  font-family: Momo Trust Display;
  font-size: 50px;
  line-height: 1.3;
  width: 100%;
  text-align: center;
  color: rgb(0, 251, 255);
  margin-bottom: 0%;
}

#round__container {
  height: 5%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 0%;
}

#round__label {
  font-family: sans-serif;
  font-size: 40px;
  width: auto; /* Let the label size naturally */
  text-align: center; /* Center-align the text */
  color: white;
}

.main__container {
  width: 100%;
  height: 100%;
}

.progress__container {
  width: 605px;
  height: 50px;
  padding: 10px;
  position: relative;
}
.progress__border {
  background-color: white;
  border: 1px solid rgb(106, 106, 106); /* Add border width */
  border-radius: 5px;
  width: 100%;
}
.progress__counter {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 40px;
  top: 10px;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: left 0.25s ease-in-out;
}
.progress__bar {
  border: 2px solid rgb(0, 0, 0); /* Add border width */
  border-radius: 5px;
  height: 30px;
  width: 75%;
  background-color: green;
  transition: width 0.25s ease-in-out;
}
#main__sub__container {
  background-color: #3e3a3a;
  min-height: 75vh;
  max-width: 95%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  height: 75%;
  justify-items: center;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 1.5%;
  color: white;
}

#formContainer {
  margin-top: 50px;
}

#listFile {
  padding: 0%;
  height: max-content;
  display: inline-block;
  border: 1px solid black;
  background-color: rgb(195, 254, 255);
  border-radius: 2%;
}

#listFile::file-selector-button {
  background-color: rgb(0, 251, 255);
  color: rgb(0, 0, 0);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2%;
}

#imageFolder {
  padding: 0%;
  height: max-content;
  display: inline-block;
  border: 1px solid black;
  background-color: rgb(195, 254, 255);
  border-radius: 2%;
}

#imageFolder::file-selector-button {
  background-color: rgb(0, 251, 255);
  color: rgb(0, 0, 0);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 2%;
}

#submit {
  background-color: rgb(0, 251, 255);
  color: black;
}

.main__sub__container-index {
  background-color: #3e3a3a;
  min-height: 80vh;
  max-width: 95%;
  margin: 5%;
  margin-top: 1%;
  height: 70%;
  justify-items: center;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 1.5%;
}

.main__sub__sub__container-index {
  max-width: 500px;
  display: block;

  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.sorter__container {
  height: fit-content;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sorter__option__container {
  background-color: #2750a8;
  max-height: 250px;
  max-width: 200px;
  min-height: 250px;
  min-width: 200px;
  height: 250px;
  width: 200px;

  margin: 1%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sorter__img__container {
  background-color: white;
  height: 187.5px;
  width: 187px;
  margin-bottom: 1%;
}

.sorter__img {
  width: 100%;
  height: 100%;
}

.sorter__selection__button {
  width: 90%;
  height: 20%;
  background-color: white;
}
.sorter__middle__container {
  background-color: #6a88c9;
  max-height: 250px;
  max-width: 150px;
  min-height: 250px;
  min-width: 150px;
  height: 250px;
  width: 150;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results__container {
  background-color: rgb(17, 17, 238);
  width: 100%;
  height: fit-content;
  padding-bottom: 10px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* visibility: hidden; */
}

.results__result__container--big {
  background-color: darkblue;
  width: 500px;
  height: 200px;
  margin-bottom: 10px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.results__result__container--first {
  background-color: goldenrod;
}
.results__result__container--second {
  background-color: silver;
}
.results__result__container--third {
  background-color: rgb(198, 83, 41);
}

.results__container--four__to__eighteen {
  background-color: azure;
  width: 950px;
  height: fit-content;
  padding: 1px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
}

.results__result__container--med {
  background-color: darkblue;
  width: 250px;
  height: 90px;
  margin: 10px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.results__container--remainder {
  background-color: rgb(84, 129, 129);
  width: 550px; /* Fixed table width */
  height: fit-content;
  padding: 1px;
  margin-top: 10px;

  display: table;
  table-layout: fixed; /* Enforce fixed column widths */
  align-items: center;
}

.results_result_remainder_row {
  display: table-row;
}

.results_result_remainder_rank_col {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  height: 15px;
  width: 5%; /* Strict column width */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent text wrapping */
}

.results_result_remainder_entry_col {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  height: 15px;
  width: 95%; /* Strict column width */
  overflow: hidden; /* Prevent overflow */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
  white-space: nowrap; /* Prevent text wrapping */
}

.results__result__img__container--big {
  background-color: white;
  height: 187.5px;
  width: 187px;
  margin-bottom: 1%;
}

.results__result__img__container--med {
  background-color: white;
  height: 100px;
  width: 90px;
  margin-bottom: 1%;
}

.results__result__img {
  width: 100%;
  height: 100%;
}

.results__result__name--big {
  color: black;
  margin-left: 50px;
}
.results__result__name--med {
  color: rgb(255, 255, 255);
  margin-left: 25px;
  font-size: 15px;
}
.results__save__btn {
  background-color: white;
  color: black;
  margin: 15px;
  padding: 10px;
}
